{#
/**
 * @file archive_directory.html.twig
 * Default theme implementation to present Archive directory data.
 *
 * This template is used when viewing Archive directory pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_archive_directory()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('archive_directory') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
